h1 {
    font-family: 'Krona One', sans-serif;
}
.center  {
    text-align: center;
    width: 400px;
    
}
.primary {
    font-family: 'Oswald', sans-serif;
}
.secondary {
    font-family: 'Dosin', sans-serif;
}
img {
    height: 100px;
    border-radius: 20px;
    border-left: solid 2px;
    border-bottom: solid 2px;
}